<h1>Class Show Page</h1>

<h3>Class: <%= @klass.name %></h3>
<p><%= @klass.description %></p>
<h4>Teacher: <a href="/users/<%= @teacher.slug %>"><%= @teacher.username %></a></h4>
	<h4>Members:</h4>
	<ul>
		<% @klass.users.each do |user| %>
			<% if user != @teacher %>
				<li><a href="/users/<%=user.slug%>"><%= user.username  %></a></li>
			<% end %>
		<% end %>
	</ul>

	<h4>Teacher Comments: </h4>
	<% @klass.comments.each do |comment| %>
	<p><%= comment.content %></p>
	<small><a href="/comments/<%= comment.id %>/edit">Edit Comment</a></small>
	<% end %>
<% if @teacher == current_user %>

	<form method="post" action="/klasses/<%= @klass.id %>/comments/new">
		<label>Leave a comment for your students:</label>
		<textarea name="content"></textarea>
		<input type="submit" value="Post">
	</form>
<% end %>


