<h1>Class Show Page</h1>

<h3>Class: <%= @klass.name %></h3>
<p><%= @klass.description %></p>
<h4>Teacher: <a href="/users/<%= @teacher.slug %>"><%= @teacher.username %></a></h4>
	<h4>Members:</h4>
	<ul>
		<% @klass.users.each do |user| %>
			<% if user != @teacher %>
				<li><a href="/users/<%=user.slug%>"><%= user.username  %></a></li>
			<% end %>
		<% end %>
	</ul>



