<h1><%=@user.username%></h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h3>Classes Hosted:</h3>
<% @user.klasses.each do |klass| %>
	<%if @user.id == klass.user_id %>
		<div class="user-klasses">
			<a href="/klasses/<%=klass.slug%>"><%= klass.name %></a>
			<p><%= klass.time_day %></p>
			<p><%= klass.description %></p>
			<% if logged_in? %>
				<% if current_user.id == @user.id%>
			<form method="post" action="/klasses/delete/<%= klass.id %>">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete Class">
			</form>
			<% end %>
		<% end %>
		</div>
	<% end %>
<% end %>
<h3>Classes Joined:</h3>
<% @user.klasses.each do |klass| %>
	<%if @user.id != klass.user_id %>
		<div class="user-klasses">
			<a href="/klasses/<%=klass.slug%>"><%= klass.name %></a>
			<p><%= klass.description %></p>
		</div>
	<% end %>
<% end %>

<% if logged_in? %>
	<% if current_user.id == @user.id%>
	<a href="/klasses/create"><button>Create a Class</button></a>
	<a href="/klasses/join"><button>Join a Class</button></a>
	<% end %>
<% end %>